.App {
  text-align: center;
  font-family: 'Muli', sans-serif;
  background-color: #3C5233;
  color: white;
  width: auto;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  text-align: center;
}

.App-header {
  background-color: #0D1F22;
  height: 100px;
  padding: 20px;
  color: white;
  font-family: 'Muli', sans-serif;
}

.App-intro {
  padding: 20px;
  font-size: large;
  font-family: 'Muli', sans-serif;
}

.Title-info {
  padding: 5px;
  font-family: 'Muli', sans-serif;
}

.Search-form {
  padding: 10px;
}

.form {
  padding: 5px;
  width: auto;
}

#searchBar {
  width: 202px;
}

.footer {
    position: absolute;
     left: 0;
     bottom: 0;
     height: 100px;
     width: 100%;
     background-color: #0D1F22;
     display: block;

}

.SearchResults {
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
